.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}
.header-search input{
    outline: none;
    border: none;
    background-color: transparent;   
    padding: 1rem 1rem;
}
.header-title{
    padding: 1rem 0;
}
.header-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    padding: 0 1rem;
    border-radius: 8rem;
    position: relative;
}

.header-search input {
    position: relative;
    transition: padding-left 0.5s ease;
}

.header-search input::placeholder {
    position: absolute;
    left: 10;
    top: 35%;
    transform: translateY(-50%);
    white-space: nowrap;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.header-search input.placeholder-hide::placeholder {
    transform: translateY(-150%); /* Move the placeholder text out of view */
    opacity: 0;
}

.header-search input.placeholder-show::placeholder {
    transform: translateY(0); /* Move the placeholder text back into view */
    opacity: 1;
}
